*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #987284;
}

.wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding-top: 0px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  background-color: #EE7674;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #F9B5AC;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #B45B5C;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 30px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #FF895C;
  height: 2px;
}

.card-body {
  min-height:100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #FF895C;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #9DBF9E;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #3C1C3D;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #9DBF9E;;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  color: white;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  body{
    background-color: #886676;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }

  body{
    background-color: #795b69;
  }
}